---

---

<header class="flex py-2 px-10 items-center top-0 mt-8 w-full justify-center">
    <nav class="flex opacity-75 rounded items-center justify-between">
        <div class="flex flex-1 justify-center items-center gap-32">
            <a
                href="/"
                class="text-lg text-white font-semibold transition px-4 py-2 rounded-lg hover:scale-110"
                >Home</a
            >
            <a
                href="#"
                class="text-lg text-white font-semibold transition px-4 py-2 rounded-lg hover:scale-110"
                >About</a
            >
            <a
                href="#"
                class="text-lg *:text-white font-semibold transition px-4 py-2 rounded-lg hover:scale-110"
                >Projects</a
            >
        </div>
    </nav>
</header>
