---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="En este Portfolio personal encontrarás una muestra de 
			proyectos que demuestran mi experiencia en el mundo del desarrollo de software." />
		<meta name="viewport" content="width=device-width" />

		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
	
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="bg-slate-950">
		<Header />

		<slot />

		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: Monospace;
	}
	body {
		min-height: 100vh;
		background: #13151a;
		color: #fff;
	}
</style>
